body {
  margin: 0;
  font-family: sans-serif;

  background-image: linear-gradient(80deg, rgb(174, 174, 211), rgb(53, 46, 158));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
